<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
   <clear />
    <add key="nc.artifactory" value="https://artifactory.corp.namecheap.net/artifactory/api/nuget/namecheap" />
    <add key="nc.artifacts" value="https://artifacts.corp.namecheap.net/api/nuget/namecheap" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <disabledPackageSources>
  </disabledPackageSources>
</configuration>